  
  /* make the text in center of the page */


  .header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8%;
    color: white;
    height: 90vh;
  }

   /*  it should cover full view height in desktop */

.header-container p{
    font-size: 1.5rem;
    color: var(--text-light-gray);
  }
  
  .header-container h1{
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: 800;
  }
  
  .header-container .header-desc{
    font-size: 2rem;
  }
  
  .header-desc span{
    font-weight: 700;
    text-decoration: dashed;
  }
 
  /* set imag size */
  .header-container img{
    width: 35px;
    height: 35px;
    margin: 0 15px;
  }
 
  /*  make header text suitable for mobile devices */
    @media screen and (max-width: 768px){
        .header-container{
          height: 50vh;
          padding: 0.7rem;
        }
        .header-container h1{
        font-size: 2.5rem;
        }
        .header-container p{
        font-size: 1.15rem;
        }
        .header-container .header-desc{
        font-size: 1.15rem;
        }
        .header-container img{
          width: 25px;
          height: 25px;
        }
    }