.projects-container{
    width: 100%;
    padding: 2rem;
}

.project h2{
    color: var(--text-light-gray);
}

.projects-head{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.project-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
    margin: 2rem;
}

.project-card{
    background-color: #161d28;
    padding: 1rem;
    border-radius: 10px;
    /* border: 0.2px solid #2f3435; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.project-card:hover{
    transform: scale(1.02);
    transition: all 0.1s ease-in-out;
}


.project-card img{
    border-radius: 5px;
    padding-bottom: 1rem;
    /* width: 300px; */
}

.project-card p{
    margin-bottom: 1rem;
    color: var(--text-light-gray);
}

.project-links a{
    /* width: 30px; */
    padding-right: 1rem;
    color: #4ca5ff;
    text-decoration: none;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 1rem;
}

.tags span{
    margin-right: 1rem;
    font-size: 0.8rem;
    border-radius: 5px;
    color: #3b88d4;
    background-color: #333940;
    padding: 0.1rem 0.3rem;
}

/* add mobile styles */
@media screen and (max-width: 768px){
    .projects-container{
        padding: 0.5rem;
    }
    .projects-container h1{
        font-size: 2.5rem;
        margin: 2rem 1rem 0;
    }
    .project-cards{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        margin-bottom: 1.5rem;
    }
    .project-card h2{
        font-size: 1.3rem;
    }
    .project-card p , a{
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
    .project-card span{
        font-size: 0.7rem;
    }
}